                                                                                        * {
                                                                                        margin: 0;
                                                                                        padding: 0;
                                                                                        box-sizing: border-box;
                                                                                    }
                                                                                    
                                                                                    html,
                                                                                    body {
                                                                                        height: 100%;
                                                                                        max-height: 100%;
                                                                                        width: 100%;
                                                                                        justify-content: center;
                                                                                        padding-left: 0%;
                                                                                        font-size: 16px;
                                                                                    }
                                                                                    
                                                                                    body {
                                                                                        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                                                                        font-size: 0.8rem;
                                                                                        box-sizing: border-box;
                                                                                        background-color: white;
                                                                                        justify-content: center;
                                                                                    }
                                                                                    
                                                                                    .wrapper {
                                                                                        width: 100%;
                                                                                        height: 100%;
                                                                                        justify-content: center;
                                                                                    }
                                                                                    
                                                                                    #block_container {
                                                                                        width: 100%;
                                                                                        height: 80%;
                                                                                        justify-content: center;
                                                                                    }
                                                                                    
                                                                                    .main-controls {
                                                                                        width: 100%;
                                                                                        height: 20%;
                                                                                        justify-content: left;
                                                                                        margin-left: 5%;
                                                                                    }
                                                                                    
                                                                                    h1,
                                                                                    h2 {
                                                                                        font-size: 2rem;
                                                                                        text-align: center;
                                                                                        font-weight: normal;
                                                                                        padding: 0.5rem 0 0 0;
                                                                                    }
                                                                                    
                                                                                    canvas {
                                                                                        width: 90%;
                                                                                        height: 90%;
                                                                                    }
                                                                                    
                                                                                    input {
                                                                                        cursor: pointer;
                                                                                    }
                                                                                    
                                                                                    select {
                                                                                        cursor: pointer;
                                                                                    }
                                                                                    
                                                                                    label {
                                                                                        border: 2px;
                                                                                        background-color: lightblue;
                                                                                        font-display: auto;
                                                                                    }
                                                                                    
                                                                                    #sensibility {
                                                                                        direction: rtl
                                                                                    }
                                                                                    
                                                                                    input[type=checkbox]:checked~aside {
                                                                                        transform: translateX(0);
                                                                                    }
                                                                                    
                                                                                    @media screen and (orientation: portrait) {
                                                                                        #toolbar {
                                                                                            width: 100%;
                                                                                        }
                                                                                    }
                                                                                    
                                                                                    @media screen and (orientation: landscape) {
                                                                                        #toolbar {
                                                                                            position: fixed;
                                                                                            width: 2.65em;
                                                                                            height: 100%;
                                                                                        }
                                                                                        @media screen and (min-width: 800px) {
                                                                                            .wrapper {
                                                                                                width: 100%;
                                                                                                //max-width: 1000px;
                                                                                                margin: 0 auto;
                                                                                            }
                                                                                        }
